<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Box</title>
    <link rel="stylesheet" href="chat.component.css" />
  </head>

  <body>
    <!-- ******************************************************** -->
    <!-- If the user is logged in, show the chat. otherwise, dont -->
    <div *ngIf="user; else loginPrompt" class="chat-box" id="chatBox">

      <!-- The messages appear here-->
      <div class="chat-messages" id="chatMessages">
        <div
          *ngFor="let msg of messages"
          class="message"
          [innerHTML]="msg"
        ></div>
      </div>

      <!-- Send bar where messages are entered -->
      <div>
      <form class="send-bar">
        <input
          type="text"
          placeholder="Say something..."
          [(ngModel)]="message"
          (keydown.enter)="sendMessage()"
        />
        <button class="primary" type="button" (click)="sendMessage()">Send</button>
      </form>




      </div>


    </div>
    <!-- End Chat Box ***********************************************-->

    <!-- ******************************************* -->
    <!-- The user is not logged in. Prompt for login -->
    <ng-template #loginPrompt>
      <div>
        <p>You must be logged in to participate in the chat.</p>
        <a [routerLink]="['/login']" [queryParams]="{ returnUrl: parentRoute }"
          >Login</a
        >
      </div>
    </ng-template>
    <!--*******-->

  </body>
</html>
