

/* * {
  box-sizing: border-box;
} */

/* Styling for chat box */
.chat-box {
  /* border: 1px solid #ccc; */
  width: 350px;
  /* Adjust width as needed */
  height: 576px;
  /* Adjust height as needed */
  overflow: hidden;
  /* Hide overflow to prevent scrollbars on the chat box */
  position: relative;
  /* Position relative for absolute positioning of chat-messages */
}

.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  overflow: auto;
  height: calc(100% - 60px);
  scroll-behavior: smooth;
}

/* Styling for individual message */
.message {
  margin-bottom: 5px;
  /* Adjust margin between messages */
}


.send-bar {
  margin: -10px;
}


/* Style the search field */
form.send-bar input[type=text] {
  padding: 14px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
  user-select: none;

}

form.send-bar input[type=text]:focus {
  outline: none;
  /* Prevent default focus border */
}

/* Style the submit button */
form.send-bar button {
  float: left;
  width: 20%;
  padding: 15px;
  background: rgb(64, 147, 7);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.send-bar button:hover {
  background: #0b7dda;
}