<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Box</title>
    <link rel="stylesheet" href="chat.component.css">
</head>


<body>
    <div class="chat-box" id="chatBox">

        <div class="chat-messages" id="chatMessages">
            <div *ngFor="let msg of messages" class="message" [innerHTML]="msg">
            </div>
        </div>

        <div class="send-bar">
            <input type="text" class="message-input" placeholder="Type your message..." [(ngModel)]="message"
                (keydown.enter)="sendMessage()">
            <button class="send-button" (click)="sendMessage()">Send</button>
        </div>

    </div>
</body>

</html>