/* Styling for chat box */
.chat-box {
  /* border: 1px solid #ccc; */
  width: 300px;
  /* Adjust width as needed */
  height: 508px;
  /* Adjust height as needed */
  overflow: hidden;
  /* Hide overflow to prevent scrollbars on the chat box */
  position: relative;
  /* Position relative for absolute positioning of chat-messages */

}

.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 11px;
  overflow: auto;
  height: calc(100% - 60px);
  scroll-behavior: smooth;
  
}

/* Styling for individual message */
.message {
  margin-bottom: 5px;
  /* Adjust margin between messages */
}


.send-bar {
  /* margin: 0px; */
  display: flex;
  box-sizing: border-box;
  padding-left: 0px;
}


/* Style the search field */
form.send-bar input[type=text] {
  padding-left: 9px;
  font-size: 17px;
  border-top: 0.5px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  float: left;
  width: 240px;
  /* background: #f1f1f1; */
  user-select: none;
  box-sizing: border-box;
}

form.send-bar input[type=text]:focus {
  outline: none;
  /* Prevent default focus border */
}

/* Style the submit button */
form.send-bar button {
  float: left;
  width: 60px;
  padding: 9px;
  background: rgb(64, 147, 7);
  color: white;
  font-size: 17px;
  border-top: 0.5px solid rgb(0, 0, 0);
  border-left:0.5px solid rgb(0, 0, 0);
  border-bottom: none;
  border-right: none;
  /* border: none; */
  cursor: pointer;
  box-sizing: border-box;
}

form.send-bar button:hover {
  background: #05781e;
}