* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


/* .search-form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    flex: 1; /* Take up remaining space */
    /* border: solid 1px #056B38;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
  }
  
  .search-button {
    background-color: #056B38;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 10%;
  }
  
  /* Optional: Add hover effect */
  .search-button:hover {
    background-color: #045e32;
  } */ */

  

  /* :root{
    --primary-color: #05781e;
}

input[type="text"] {
    border: solid 1px #056B38;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 100%;
  }

  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: #056B38;
    color: white;
    border-radius: 8px;
    display:
  } */