/* You can add global styles to this file, and also import other style files */


/* Dark Theme Styles */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
    html { background-color: #1e1e1e; }
    body{margin:0}
    html, body { height: 100%; }
    body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  }