/* this code inspired by https://angular.io/tutorial/first-app/first-app-lesson-03 */

.listing {

    /* border-radius: 30px;  */
    /* padding-bottom: 30px; */
    /* 409407 green */
  }


  .listing-heading {
    /* Normal link style */
    a {
      text-decoration: none; /* Remove underline if desired */
    }
    padding: 10px 20px 0 10px;
  }

  .listing-photo {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* border-radius: 30px 30px 0 0; */
  }
