/* other colors: 26323D dark blackish*/
:root{
    --primary-color: #252526;
}

.wrapper {
  padding: 20px;
}

.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    /* margin-top: 40px; */
    justify-content: space-around;
    /* margin-left: 20px;
    margin-right: 20px; */
  }
  

  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }
