.responsive-details {
    max-width: 800px;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis; 
}

.video-container {
    position: relative;
    max-width: 100%;
    margin: auto;
  }

.video-container video {
    width: 100%;
    height: auto;
    display: block;
  }