<div class="watchpage">

<!-- Video Player Component -->
<div class="video-container">
  <app-videoplayer [options]="{controlBar: {playToggle: false, captionsButton: false, chaptersButton: false, subtitlesButton: false, remainingTimeDisplay: false, progressControl: {seekBar: false}, fullscreenToggle: false, playbackRateMenuButton: false}, width: 800, height: 600, fill: true, fluid: true, aspectRatio: '4:3', autoplay: true, preload: 'meta', html5: {hls: {enableLowInitialPlaylist: true, smoothQualityChange: true, overrideNative: true}}, sources: [{ src: 'https://192.168.193.59:8000/stream/streamout.m3u8', type: 'application/x-mpegURL' }]}"></app-videoplayer>
</div>

<!-- Chat Box-->
<div class="chatbox">
  <app-chat [streamID]="streamListing?.id"></app-chat>
</div>

<!-- Stream Details -->
<div class="responsive-details">
  <section class="Stream Details">
    <h2 class="section-heading">{{ streamListing?.title }}</h2>
    <p class="streamListing.description">{{streamListing?.description}}</p>
    <!-- <p class="streamListing.id"> <b>Stream ID: </b>{{streamListing?.id}}</p>
    <p class="streamListing.id"> <b>User ID: </b>{{streamListing?.userId}}</p>
    <p class="streamListing.start_time"> <b>Start Time: </b>{{streamListing?.startTime}}</p>
    <p class="streamListing.is_active"> <b>Live: </b>{{streamListing?.isActive}}</p>
    <p class="streamListing.url"> <b>URL: </b>{{streamListing?.url}}</p> -->
  </section>
</div>
</div>

