.watchpage {
  display: flex;
  flex-wrap: wrap;
  /* Allow flex items to wrap to the next line */
  padding: 20px
}

.responsive-details {
  max-width: 900px;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.chatbox {
  margin-left: 20px;
}

.video-container {
  width: 100%;
  max-width: 900px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  */
}