<div class="watchpage">

<!-- Video Player Component -->
<div class="video-container">
  <app-videoplayer [streamURL]="streamListing?.url"></app-videoplayer>
</div>

<!-- Chat Box-->
<div class="chatbox">
  <app-chat [streamID]="streamListing?.id"></app-chat>
</div>

<!-- Stream Details -->
<div class="responsive-details">
  <section class="Stream Details">
    <h2 class="section-heading">{{ streamListing?.title }}</h2>
    <p class="streamListing.description">{{streamListing?.description}}</p>
    <!-- <p class="streamListing.id"> <b>Stream ID: </b>{{streamListing?.id}}</p>
    <p class="streamListing.id"> <b>User ID: </b>{{streamListing?.userId}}</p>
    <p class="streamListing.start_time"> <b>Start Time: </b>{{streamListing?.startTime}}</p>
    <p class="streamListing.is_active"> <b>Live: </b>{{streamListing?.isActive}}</p>
    <p class="streamListing.url"> <b>URL: </b>{{streamListing?.url}}</p> -->
  </section>
</div>
</div>

