.header{
  margin: 0px;

}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* color: #fff; */
  border-bottom: 1px solid #000; /* Color and thickness of the border */
}

.greeting {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.toggle {
  margin: 10px;
}
.banner img {
  width: 150px;
}

.search-bar {
  display: inline-block;
  flex-grow: 1; /* Take up remaining space */
  margin: 0 auto; /* Center horizontally */
  max-width: 400px; /* Optional: Limit maximum width */
}

.login-settings {
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #777;
}
