<header class="top-bar">
  <!-- Left Div - Banner -->
  <div class="banner">
    <a [routerLink]="['/']">
      <img src="../assets/br3ezy_logo_banner.png" alt="br3ezy logo">
    </a>
  </div>

  <!-- Middle Div - Search Bar -->
  <div class="search-bar">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
  </div>

  <!-- Right Div - Login and Settings -->
  <div class="login-settings">
    <ng-container *ngIf="isLoggedIn(); else showLogin">
      <h3>Welcome, {{ user.username }}</h3>
      <button class="login-btn" (click)="logout()">Logout</button>
      <button class="login-btn" [routerLink]="['settings']">Settings</button>
    </ng-container>
    <ng-template #showLogin>
      <a routerLink="/login" role="button" class="login-btn">Login / Register</a>
    </ng-template>

    <app-theme-toggle></app-theme-toggle>
  </div>
</header>


  <div class="container">
    <!-- Webpage Routes -->
      <router-outlet></router-outlet>
  </div>

