/* h1 {
  font-weight: normal;
}

.brand-logo {
  width: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #1E7D34; 

}

.login-btn {
  padding: 10px;
  border: solid 1px #05781e;
  background: #05781e;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
*/


.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.banner img {
  width: 150px;
}

.search-bar {
  display: inline-block;
  flex-grow: 1; /* Take up remaining space */
  margin: 0 auto; /* Center horizontally */
  max-width: 400px; /* Optional: Limit maximum width */
}

.login-settings {
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #777;
}
