<!-- some html inspired by https://angular.io/tutorial/first-app/first-app-lesson-02  -->

<p>Hey! The Gallery Component was loaded successfully.</p>

<section>
    <form>
      <input type="text" placeholder="You're a jerk.">
      <button class="primary" type="button">I know</button>
    </form>
</section>

<section class="results">
  <!-- *ngFor is an angular For loop, it will iterate thru the list of streamListings.-->
    <app-stream-listing
    *ngFor="let streamListing of streamListingList" [streamListing]="streamListing"> 
  </app-stream-listing>

</section>