.login-btn {
  display: block;
  padding: 10px;
  margin-top: 10px;
  border: solid 1px #05781e;
  background: #05781e;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

.register-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
