<div class="register-div">
  <form class="register" (ngSubmit)="register()">
    <div>
      <label for="username"></label>
      <input
        type="text"
        placeholder="Username"
        id="username"
        [(ngModel)]="user.username"
        name="username"
        required
      />
    </div>
    <div>
      <label for="email"></label>
      <input
        type="email"
        placeholder="Email Address"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        required
      />
    </div>
    <div>
      <label for="password"></label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>

    <div class="buttons">
      <button class ="login-btn" type="submit">Register</button>
      <a routerLink="/login" role="button" class="login-btn"
        >Have an account?</a
      >
    </div>
  </form>


</div>
