<!-- App Component HTML -->
<main>
    <header class="brand-name">
        <img class="brand-logo" src="../assets/br3ezy_logo_banner.png" alt="br3ezy logo" aria-hidden="true">
    </header>

    <h1>It's easy being br3ezy!</h1>
    <p>Welcome to the br3ezy front end. It's good to have you. </p>


    <section class="content">
        <app-gallery></app-gallery>
    </section>

    <section>
        <p>This is the end of the line. Nothing should appear below this text.</p>
    </section>
</main>

    