.card {
  width: 475px; /* Set width to 400px */
  margin: 0 auto; /* Center the card horizontally */
  border-radius: 10px;
  padding: 20px; /* Optional: Add padding for content inside the card */
  margin-bottom: 20px; /* Add margin to create space between cards */
}

  .streamPhoto {
    width: 200px; /* Set maximum width */
    height: 200px; /* Set height same as width for a square shape */
    border-radius: 20px; /* Adjust this value to control the roundness */
    overflow: hidden; /* Ensure the image stays within the rounded border */
    border: 2px solid #ccc; /* Add a border */
  }

  .streamPhoto img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Scale the image to cover the entire container */
  }

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .image-card {
    margin-right: 20px; /* Adjust margin as needed */
  }

  .update-success{
    text-align: center;
    color: #28a745; /* Green */
    font-weight: bold;
  }

  .update-failure{
    text-align: center;
    color: #dc3545; /* Red */
    font-weight: bold;
  }
  
 .setwrap {
  padding: 10px;  
  background-image: url('../../assets/cactus.png');
  background-size: cover; /* Cover the entire element */
  background-position: right bottom;
  background-repeat: no-repeat; /* Do not repeat the background image *
 }



.cactus{
  max-width: 100%; /* Set the maximum width to 100% of its container */
  height: auto; /* Maintain the aspect ratio */
}